/* header.css */
.header {
    position: relative;
  }
  
  .search-input {
    position: relative;
    z-index: 1;
  }
  
  .search-results-dropdown {
    position: absolute;
    top: calc(65% + 5px);
    left: 0;
    width: 40%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 5px solid #ccc;
    border-top: none;
    padding: 10px;
    list-style: none;
    z-index: 999;
  }
  
  .search-results-dropdown li {
    margin-bottom: 5px;
  }
  
  

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #ff0000; 
}

.logo {
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 30px;
    cursor: pointer;
    color: #0000ff; 
    font-weight: bold;
}

.new {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #00ff00;
    font-weight: bold;
}

.salvas {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ffff00; 
    font-weight: bold;
}
